html 
{
  box-sizing: border-box;
}

.container{
    background-color: white;
    margin: auto;
    margin-top: 25vh;
    width: 60%;
    height: 50vh;
    border-radius: 2rem;
}

.title {
    font-size: 72px;
  /* background: -webkit-linear-gradient(#eee 70%, #000000 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  color: white;
  border-color: #000000;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

/* ici partie hover */

.tooltip {
  position: relative;
}

.dot {
  
  display: block;
  margin: 15px;
  width: 100%;
  height:50vh;
  border: #000000 solid 1px;
  
  position:absolute;
  top:0px;
  left:0px;

  /*Fallback if gradeints don't work */
  background: #9b59b6;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #3498db, #9b59b6
    );
    
}

.content {
  position: absolute;
  top: 0px;
  left: 75px;
  opacity: 0;
  transition: opacity .5s ease-in;
  white-space: nowrap;
}

.content h1,
.content p,
.content span {
  margin: 0;
}

.dot:hover + .content
 {
  opacity: 1;
  transform: translate(-50%,0%);
}


.specificLocation {
  margin-left: 100px;
}
