*{
  box-sizing: border-box;
}

body {  
  background-color: #000000;
  color: #eeeeee;
}

.container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50%;
  height: 100vh;
}

.container-right {
  position: relative;
  left: 50%;
  width: 50%;
  min-height: 100vh;
  padding: 0 3%;
}

.screen-right{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height :100vh;
  width: 100%;
}

.title {
  font-size: 5rem;
  color: white;
}

.arrow {
    position: absolute;
    bottom: 10px;
    height : 0;
    width : 0;
    border-top : 36px solid white;
    border-right : 21px solid transparent;
    border-left : 21px solid transparent;
}

.definition {
  margin: 5rem 0;
  font-size: 3rem;
}

/* ici partie hover */

.partie_dynamique {
  position: relative;
  margin: auto;
  width: 100%;
}

.caption {
  color: #eeeeee;
  font-size: 1.5rem;

}

.dot {
  display: block;
  width: 100%;
  height:50vh;
  border: #000000 solid 1px;
  position:static;
  top:0px;
  left:0px;
  background:white;

  border-radius: 10px;
  box-shadow: inset 5px 5px 8px rgba(0,0,0,0.5);
    
}


.diegese2 {
  background: radial-gradient(circle at 70%, #000000 0%, #eeeeee 40px);
  display: block;
  width: 100%;
  height:50vh;
  border: #000000 solid 1px;
  position:static;
  top:0px;
  left:0px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 8px rgba(0,0,0,0.5);
}


.text-diegese2 {
  position: relative;
  left: 76%;
  top : 48%;
  max-width: 20%;
  color: #000000;
}

.content {
  position: absolute;
  top: 0px;
  left: 75px;
  opacity: 0;
  transition: opacity .5s ease-in;
  white-space: nowrap;
  color: #000000;
}




.content h1,
.content p,
.content span {
  margin: 0;
}

.dot:hover + .content
 {
  opacity: 1;
  transform: translate(-50%,0%);
}


.specificLocation {
  margin-left: 100px;
}

.end-text {
  margin: 5rem 0;
  font-size: 1.5rem;
}
.end-text p {
  margin: 3rem 0;
}
